name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # ignore undefined name errors (F821), fail on other critical errors
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --ignore=F821
        # run full lint with warnings only (exit-zero), still ignoring F821
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --ignore=F821
    - name: Test with pytest
      run: |
        pytest
